

#semaforo{
    background-color: rgb(17, 61, 17);
    width: 20rem;
    height: 50rem;
    margin: auto;
    margin-top: 10%;
    border-radius: 5rem;
}
.yellowligth{
    background-color: yellow;
}