
body{
    background-color: black;
}
#semaforo{
    background-color: white;
    width: 20rem;
    height: 50rem;
    margin: auto;
    margin-top: 5%;
    border-radius: 5rem;
}
.LightGlow{
    
    box-shadow: 0px 0px 50px 80px purple;
    background-color: rgb(61, 9, 61);

}

