
body{
    background-color: black;
}
#semaforo{
    background-color: white;
    width: 20rem;
    height: 50rem;
    margin: auto;
    margin-top: 10%;
    border-radius: 5rem;
}

#yellow{
    background-color: yellow;
}