.green{
    
background-color: black;
    width: 13rem;
    height: 13rem;
    margin: auto;
    margin-top: 10%;
    border-radius: 50%;
    background-color: rgb(231, 8, 231);
    box-shadow: 0px 0px 70px 70px purple;

}